<%- include('partials/header') %>

<section class="give-intro">
    <div class="give-content">
        <h1>Ways to Give</h1>
        <p class="highlight-box">
            You should note that <strong>97% of your donation will reach the children in Kenya</strong>. 
            All One People is an entirely volunteer organization. There are NO salaries, travel expenses, 
            or office costs taken out of your donation. This is not a money-making venture for anyone. 
            The only payout here is the satisfaction of having made a difference.
        </p>
        <p>
            Your support will become a blessing in the lives of promising young children in Kenya. You 
            possess financial means that are not available to the hopeful young generation in this land. 
            You can transform a child from sure poverty to a contributing adult who will provide leadership 
            to a nation in need.
        </p>
    </div>
    <div class="give-image">
        <img src="/images/mission.jpg" alt="Mission statement at school in Kenya">
    </div>
</section>

<section class="donation-options">
    <h2>Make a Donation</h2>
    <p class="donation-intro">
        You can make either a one-time or recurring donation using any major credit card or through 
        your PayPal account.
    </p>
    
    <div class="donation-methods">
        <div class="paypal-option">
            <h3>Donate Online</h3>
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="QCQ7XP7ASNSBA">
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
            </form>
        </div>
        
        <div class="mail-option">
            <h3>Mail a Check</h3>
            <p>If you choose, you may mail a check to:</p>
            <address>
                All One People<br>
                460 E 100 N<br>
                Manti, UT 84642
            </address>
        </div>
    </div>
</section>

<%- include('partials/footer') %>
